:root {
    --sel: #6bff3d;
}

@font-face {
    font-family: "OCR A Extended";
    src: url("../fonts/ocraext.eot");
    src: url("../fonts/ocraext.eot?#iefix") format("embedded-opentype"), 
        url("../fonts/ocraext.woff2") format("woff2"), 
        url("../fonts/ocraext.woff") format("woff"), 
        url("../fonts/ocraext.ttf") format("truetype"), 
        url("../fonts/ocraext.svg#OCR A Extended") format("svg"); }



body {
    background: #000;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}

div, p, a, img, form, button {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;

}

a {
    text-decoration: none;
}

ul, ul li {
    display: block;
    padding: 0;
    margin: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 5px;
    min-height: 600px;
    background: #000;
}


@media screen and (min-width: 1400px) {
    .container {
        width: 1140px;
    }
}

.nav {
    display: flex;
    align-items: center;
    margin-top: 42px;
}


.nav .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav .logo img {
    width: 64px;
}

.nav .logo p {
    font-family: 'OCR A Extended';
    font-size: 46px;
    text-transform: uppercase;
    font-weight: bold;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    color: #c7c7c7;
}


.menu {
    display: flex;
    margin-left: 35px;
}

.menu li {
    font-size: 12px;
    margin-right: 25px;
}

.menu li a {
    color: #fff;
    padding: 12px 0;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    transition: all 0.5s ease;
}

.menu li.active a {
    color: var(--sel);
    border-top: 1px solid var(--sel);
    border-bottom: 1px solid var(--sel);
}

.menu li a:hover {
    color: var(--sel);
}

.right {
    font-size: 12px;
    margin-left: auto;
}

.desc {
    margin-top: 100px;
}

.desc .sect {
    margin-top: 30px;
    text-align: justify;
}

.desc .sect h1 {
    font-size: 37px;
    font-weight: 900;
    margin-bottom: 10px;
}

.desc .sect p {
    font-size: 16px;
    font-weight: 200;
}

.desc .sect .resContainer {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.desc .sect .resContainer .res {
    width: 250px;
    height: 300px;
    border: 1px solid red;
}

.desc .sect .resContainer .res-vk {
    width: 250px;
    height: 100px;
    border-radius: 10px;
    background: #124c8f;
    transition: 0.3s;
    color: white;
}

.desc .sect .resContainer .res-vk:hover {
    width: 250px;
    height: 100px;
    border-radius: 10px;
    background: #0b315c;
    cursor: pointer;
}

.desc .sect .resContainer .res-yt {
    width: 250px;
    height: 100px;
    border-radius: 10px;
    background: #8d0808;
    transition: 0.3s;
    color: white;
}

.desc .sect .resContainer .res-yt:hover {
    background: #5f0505;
    cursor: pointer;
}

.desc .sect .resContainer h3 {
    text-align: center;
    vertical-align: middle;
    line-height: 95px;
}

.instagram {
    color: #bc2a8d;
    cursor: pointer;
}

.faq-list {
    font-size: 22px;
}

.faq-list p {
    font-size: 16px;
}

.services {
    display:none;
    width:300px;
    border: 1px solid #1c1c1c;
    position: absolute;
    margin-top: 10px;
    background-color: #302f2f;
}

.services li a {
    color:#FFFFFF;
    text-decoration:none;
    padding:10px;
    display:block;
}
.services li a:hover {
    padding:10px;
    font-weight:bold;
    color: var(--sel);
}



.listServices {
    margin-top: 100px;
}

.lsItem {
    border: 1px solid #474747;
    border-radius: 10px;
    margin: 0 auto;
    width: 800px;
    height: 85px;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.lsDesc {
    width: 800px;
    color: white;
    text-align: center;
    transition: 0.5s;
}

.lsDesc p {
    font-size: 14px;
}

.lsItem:hover .lsDesc{
    color: var(--sel);
}


.hidden {
    display: none!important;
}

.hideable_animation {
    transition: 0.5s;
}




.feedback input[type=text], .feedback input[type=email], .feedback select, .feedback textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(85, 85, 85);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    outline: none;
    background: rgb(60, 60, 60);
    color: white;
}
  
.feedback input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: rgb(54, 54, 54);
    transition: 0.3s;
}
  
.feedback input[type=submit]:hover {
    background-color: rgb(95, 95, 95);
}

.feedback {
    padding: 20px;
}

.formLoading {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formResult {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#formResultMessage {
    font-size: 2rem;
}

#formResultMessageInfo {
    font-size: 1rem;
    text-align: justify;
}

#formResultMessageCredentials {
    text-align: right;
    font-size: 0.9rem;
    width: 100%;
}

.lds-roller{display:inline-block;position:relative;width:80px;height:80px}.lds-roller div{animation:lds-roller 1.2s cubic-bezier(.5,0,.5,1) infinite;transform-origin:40px 40px}.lds-roller div:after{content:" ";display:block;position:absolute;width:7px;height:7px;border-radius:50%;background:#fff;margin:-4px 0 0 -4px}.lds-roller div:nth-child(1){animation-delay:-36ms}.lds-roller div:nth-child(1):after{top:63px;left:63px}.lds-roller div:nth-child(2){animation-delay:-72ms}.lds-roller div:nth-child(2):after{top:68px;left:56px}.lds-roller div:nth-child(3){animation-delay:-108ms}.lds-roller div:nth-child(3):after{top:71px;left:48px}.lds-roller div:nth-child(4){animation-delay:-144ms}.lds-roller div:nth-child(4):after{top:72px;left:40px}.lds-roller div:nth-child(5){animation-delay:-.18s}.lds-roller div:nth-child(5):after{top:71px;left:32px}.lds-roller div:nth-child(6){animation-delay:-216ms}.lds-roller div:nth-child(6):after{top:68px;left:24px}.lds-roller div:nth-child(7){animation-delay:-252ms}.lds-roller div:nth-child(7):after{top:63px;left:17px}.lds-roller div:nth-child(8){animation-delay:-288ms}.lds-roller div:nth-child(8):after{top:56px;left:12px}@keyframes lds-roller{0%{transform:rotate(0)}100%{transform:rotate(360deg)}}