html {
    font: 15px arial, sans-serif;
}

.main {
    margin-top: 100px;
}

.main input[type=text] {
    padding: 8px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
}

.main button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}

.wrapper {
    border: 1px solid black;
    width: 612px;
    height: 77px;
    background-image: url(res/bg0.png);
    font-family: sans-serif;
    position: relative;
    top: 0;
    left: 0;
    border-radius: 5px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.wrapper .logo {
    position: absolute;
    top: 6px;
    left: 4px;
}

.wrapper .ping {
    float: right;
    margin-right: 30px;
    margin-top: 8px;

    /*
    position: absolute;
    left: 547px;
    top: -8px;
    */
    color: #808080;
}

.wrapper .wire {
    position: absolute;
    top: 9px;
    left: 584px;
}

.wrapper .wire .tip {
    visibility: hidden;
    width: 80px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 30px;
    left: 50%;
    margin-left: -36px;
    margin-top: -20px;
}

.wrapper .wire:hover .tip {
    visibility: visible;
}

.wrapper .title {
    color: #a8a4a4;
    position: absolute;
    top: -7px;
    left: 73px;
}

.wrapper .motd {
    color: #808080;
    margin-left: 73px;
    margin-top: 31px;
}

.wrapper .motd2 {
    color: #808080;
    margin-left: 73px;
    margin-top: -16px;
}

.example {
    color: #a8a4a4;
    cursor: pointer;
}
